

*{
  margin: 0;
  padding: 0;
  /* background-color: rgb(219, 236, 236); */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav{
 background-color: blue; 
 text-align: center;
 font-size:xx-large;
 color: azure;
 padding: 20px;
}
